<form action="/Places" method="post">
  <label for="placeName">Place</label>
  <input id="placeName" name="placeName" type="text"><br>
  <label for="travelingPartner">Travel Companion</label>
  <input id="travelingPartner" name="travelingPartner" type="text"><br>
  <label for="journalEntry">Journal About Location</label>
  <input id="journalEntry" name="journalEntry" type="text"><br>
  <button type="submit">Submit</button>
</form>